* {
    box-sizing: border-box;
    }
    
    body {
        margin-top: 0px;
        margin-left: 500px;
        background: #000;
        color: #ffff	
            
    }
    
    .button {
    
        margin-top: 0px;
        margin-left: 600px;
    
    }
    
    
    
    